.map-preview, #map-preview{
	width: 300px;
	height: 200px;
	background: #acf;
}

@keyframes bg {
	0%{
		background: rgba(0,0,0,0);
	}
	100%{
		background: rgba(0,0,0,0.8);
	}
}

.gmap-overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	animation: .7s bg;
	background: rgba(0,0,0,0.8);
	z-index: 10;
}

.gmap-window{
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 40%;
	height: 60%;
	background: #acf;
	border: 10px solid #fff;
	border-radius: 5px;
	overflow: visible !important;
}

.gmap-window .gmap-canvas{
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
}

.gmap-window_closeBtn{
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	text-align: center;
	z-index: 20000;
	right: -40px;
	top: -40px;
	cursor: pointer;
	transition: all .6s;
}

.gmap-window_closeBtn:before{
	content: 'X';
	color: #f00;
	cursor: pointer;
	line-height: 30px;
}

.gmap-window_closeBtn:hover{
	background: #f00;
}

.gmap-window_closeBtn:hover:before{
	color: #fff;
}